@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.4;
  }
}

.header__lang-link {
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
  margin: 0;
}

.header__lang-link:first-child {
    text-decoration-line: underline;
    margin-right: 18px;
}

.header__lang-link:hover {
  animation: opacity 0.5s ease-in forwards;
}

@media screen and (min-width: 768px) {
  .header__lang-link {
    font-size: 24px;
    line-height: 28px;
  }
}