@font-face {
  src: url('../../Inter__font/Inter-Regular.woff') format('woff'),
       url('../../Inter__font/Inter-Regular.woff2') format('woff2');
  font-family: 'Inter';
  font-weight: normal;
}

@font-face {
  src: url('../../Inter__font/Inter-Bold.woff') format('woff'),
       url('../../Inter__font/Inter-Bold.woff2') format('woff2');
  font-family: 'Inter';
  font-weight: bold;
}

/* 1280 */

.page {
  border: 1px red solid;
  max-width: 1280px;
  background: #2A2C2F;
  margin: 0 auto;
  padding-top: 28px;
  font-style: normal;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}