.lead {
  width: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .lead {
    max-width: 928px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    max-width: 984px;
  }
}