.cover {
    width: 100%;
    height: 62.5vw;
    background-image: url('../../../images/cover-railways.jpg');
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    margin-bottom: 64px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #2A2C2F;
    opacity: 0.3;
}

.cover:hover::before {
    background: #2A2C2F;
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    .cover {
        margin-bottom: 88px;
    }
}

@media screen and (min-width: 1024px) {
    .cover {
        margin-bottom: 92px;
    }
}

@media screen and (min-width: 1280px) {
    .cover {
        max-width: 1184px;
        max-height: 640px;
        margin-left: auto;
        margin-right: auto;
    }
}