.cover {
    width: 100%;
    background-image: url('../../images/cover-railways.jpg');
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    margin-bottom: 64px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .cover {
        margin-bottom: 90px;
    }
}

@media screen and (min-width: 1024px) {
    .cover {
        margin-bottom: 92px;
    }
}

@media screen and (min-width: 1280px) {
    .cover {
        max-width: 1184px;
        margin-left: auto;
        margin-right: auto;
    }
}