.cover__title {
    border: 1px red solid;
    width: 288px;
    font-weight: 900;
    font-size: 32px;
    line-height: 109%;
    text-align: center;
    margin: 0 auto 16px;
    position: relative;
    text-decoration: none;
    display: block;
}

@media screen and (min-width: 768px) {
    .cover__title {
        font-size: 72px;
        line-height: 76px;
        margin-bottom: 32px;
        width: 560px;
        height: 152px;
    }
}

@media screen and (min-width: 1024px) {
    .cover__title {
    }
}

@media screen and (min-width: 1280px) {
    .cover__title {
    }
}