.places__column-description {
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .places__column-description {
        flex-direction: row;
    }
}